<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soojeongshin.candypod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.soojeongshin.candypod.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soojeongshin.candypod.ui.add.AddPodcastActivity"
            android:label="@string/add_podcast"
            android:parentActivityName="com.soojeongshin.candypod.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.soojeongshin.candypod.ui.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.soojeongshin.candypod.ui.subscribe.SubscribeActivity"
            android:label="@string/subscribe"
            android:parentActivityName="com.soojeongshin.candypod.ui.add.AddPodcastActivity"
            android:theme="@style/Theme.Subscribe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.soojeongshin.candypod.ui.add.AddPodcastActivity" />
        </activity>
        <activity
            android:name="com.soojeongshin.candypod.ui.detail.DetailActivity"
            android:label="@string/detail"
            android:theme="@style/Theme.Subscribe.Detail" />
        <activity
            android:name="com.soojeongshin.candypod.ui.nowplaying.NowPlayingActivity"
            android:label="@string/now_playing"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Subscribe.NowPlaying" />
        <activity
            android:name="com.soojeongshin.candypod.ui.search.SearchResultsActivity"
            android:label="@string/action_search"
            android:launchMode="singleTop"
            android:parentActivityName="com.soojeongshin.candypod.ui.add.AddPodcastActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.soojeongshin.candypod.ui.add.AddPodcastActivity" />
        </activity>
        <service
            android:name="com.soojeongshin.candypod.service.PodcastService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service android:name="com.soojeongshin.candypod.service.PodcastDownloadService" />
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.soojeongshin.candypod.widget.PodcastWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/podcast_widget_info" />
        </receiver>
    </application>

</manifest>